.footer {
    .footer__heading {
      font-size: 12px;
      font-weight: 700;
    }
    ul li {
      font-size: 14px;
      margin-bottom: 14px;
      color: #484848;
    }
    .footer__copyright {
      p {
        font-size: 14px;
      }
    }
  }